---
import Layout from "../../layouts/Layout.astro";
import ShowCardLibrary from "../../layouts/ShowCardLibrary.astro";
// import Svelte
import LibraryPage from "@svelte/Page/LibraryPage.svelte";
import HeaderNav from "@svelte/HeaderNav.svelte";
// import react
import CircleReact from "../../components/react/CardLibrary/CircleReactCard";
// import ts vanilla
import CardTimedCarousel from "src/components/CardTimedCarousel.astro";
// import svelte card
import CircleCard from "@svelte/CardLibrary/CircleCard.svelte";
import UploaderCard from "@svelte/CardLibrary/UploaderCard.svelte";
import CardPassWordInput from "@svelte/CardLibrary/CardPassWordInput.svelte";
// import vue
import UploaderCardVue from "@vue/CardLibrary/UploaderCard.vue";
// import module
import { LinkType, type LibInfo } from "@svelte/type";
// import media
import ImgOfUploader from "@public/img/ImgCardUploader.png";
import CarouselGif from "@public/img/CircleCarCut.webm";
import BtnCarousel from "@public/img/BtnCarousel"
import PWInput from "@public/img/PasswordInput.png";

const lib = new Map<number, LibInfo>([
  [
    0,
    {
      id: 0,
      titre: "Carousel en cercle",
      logo: ["svelte", "react"],
      description:
        "Le composant gère automatiquement le passage d'une image à l'autre avec un effet de fondu circulaire, en ajustant les dimensions et la position des images.",
      linkBox: [
        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/CarouselCircle",
          },
        ],

        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/CircleCarouselReact",
          },
        ],
      ],
      media: { type: "vidéo", link: CarouselGif },
    },
  ],
  [
    1,
    {
      id: 1,
      titre: "Uploader en Drag and Drop",
      logo: ["svelte", "vuejs"],
      description:
        "Ce composant est un Dropzone personnalisé permettant le téléchargement de fichiers avec plusieurs fonctionnalités avancées.",
      linkBox: [
        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/FileUploader",
          },
        ],
        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/FileUploaderVue",
          },
        ],
      ],
      media: { type: "image", link: ImgOfUploader.src },
    },
  ],
  [
    2,
    {
      id: 2,
      titre: "Password input",
      logo: ["svelte"],
      description: "Composant de champs pour password interactive",
      linkBox: [
        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/PasswordInput",
          },
        ],
      ],
      media: { type: "image", link: PWInput.src },
    },
  ],
  [
    3,
    {
      id: 3,
      titre: "Carousel à bouton",
      logo: ["ts"],
      description: "Carousel à bouton",
      linkBox: [[{ type: LinkType.GitHub, link: "" }]],
      media: { type: "vidéo", link: BtnCarousel },
    },
  ],
]);
---

<Layout>
  <div class="bg-linear-to-br from-slate-600 to-slate-800 h-full">
    <HeaderNav />
    <LibraryPage client:load lib={lib} />
    <div id="0" class="showcard w-screen hidden">
      <ShowCardLibrary
        id={0}
        title={lib.get(0)!.titre}
        description={lib.get(0)!.description}
        fw={lib.get(0)!.logo}
        linkSlice={lib.get(0)!.linkBox}
      >
        <div class="svelte w-full h-full block">
          <CircleCard client:load />
        </div>
        <div class="react w-full h-full hidden">
          <CircleReact client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="1" class="showcard w-screen hidden">
      <ShowCardLibrary
        id={1}
        title={lib.get(1)!.titre}
        description={lib.get(1)!.description}
        fw={lib.get(1)!.logo}
        linkSlice={lib.get(1)!.linkBox}
      >
        <div class="svelte w-full h-full block">
          <UploaderCard client:load />
        </div>
        <div class="vuejs w-full h-full hidden">
          <UploaderCardVue client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="2" class="showcard w-screen hidden">
      <ShowCardLibrary
        id={2}
        title={lib.get(2)!.titre}
        description={lib.get(2)!.description}
        fw={lib.get(2)!.logo}
        linkSlice={lib.get(2)!.linkBox}
      >
        <div class="svelte w-full h-full block">
          <CardPassWordInput client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="3" class="showcard w-screen hidden">
      <ShowCardLibrary
        id={3}
        title={lib.get(3)!.titre}
        description={lib.get(3)!.description}
        fw={lib.get(3)!.logo}
        linkSlice={lib.get(3)!.linkBox}
      >
        <div class="ts w-full h-[50vh] block">
          <CardTimedCarousel />
        </div>
      </ShowCardLibrary>
    </div>
    
  </div>

  <script>
    import { currentSelect, currentVisible } from "@assets/ts/nano";
    import { makeVisible } from "@assets/ts/misc";

    const showcard = document.querySelectorAll(".showcard");

    const callbackVis: MutationCallback = (mut) => {
      for (let elem of mut) {
        if (elem.target.classList.contains("block"))
          currentVisible.set(elem.target.id);
      }
    };

    const mutObser = new MutationObserver(callbackVis);
    for (let elem of showcard) {
      mutObser.observe(elem, { attributes: true, attributeFilter: ["class"] });
    }

    currentSelect.subscribe((val) => {
      for (let elem of showcard) {
        makeVisible(val == Number(elem.id), document.getElementById(elem.id));
      }
    });
  </script>
</Layout>
