---
import Layout from "../../layouts/Layout.astro";
import ShowCardLibrary from "../../layouts/ShowCardLibrary.astro";
// import Svelte
import LibraryPage from "@svelte/Page/LibraryPage.svelte";
import HeaderNav from "@svelte/HeaderNav.svelte";
// import react
import DiagonaleCard from "@react/CardLibrary/DiagonalReactCard";
import CircleReact from "@react/CardLibrary/CircleReactCard";
import PasswordCard from "@react/CardLibrary/PasswordCard";
import FormEnablerCard from "@react/CardLibrary/FormEnablerCard";
// import ts vanilla
import CardTimedCarousel from "src/components/CardTimedCarousel.astro";
import CardMenuBurger from "src/components/CardMenuBurger.astro";
// import svelte card
import CircleCard from "@svelte/CardLibrary/CircleCard.svelte";
import UploaderCard from "@svelte/CardLibrary/UploaderCard.svelte";
import CardPassWordInput from "@svelte/CardLibrary/CardPassWordInput.svelte";
import CardMultiSelect from "@svelte/CardLibrary/CardMultiSelect.svelte";
import DiagonalSvelt from "@svelte/CardLibrary/DiagonaleCarouselCard.svelte";
import FormEnblerSvelte from "@svelte/CardLibrary/CardFormEnabler.svelte";
// import vue
import UploaderCardVue from "@vue/CardLibrary/UploaderCard.vue";
// import module
import { lib } from "@assets/ts/nano";
---

<Layout>
  <div class="bg-linear-to-br from-slate-600 to-slate-800 min-h-full">
    <HeaderNav />
    <LibraryPage client:load lib={lib} />
    <div id="Card0" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(0)!}>
        <div class="svelte w-full h-full block">
          <CircleCard client:load />
        </div>
        <div class="react w-full h-full hidden">
          <CircleReact client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="Card1" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(1)!}>
        <div class="svelte w-full h-full block">
          <UploaderCard client:load />
        </div>
        <div class="vuejs w-full h-full hidden">
          <UploaderCardVue client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="Card2" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(2)!}>
        <div class="svelte w-full h-full block">
          <CardPassWordInput client:load />
        </div>
        <div class="react w-full h-full hidden">
          <PasswordCard client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="Card3" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(3)!}>
        <div class="ts w-full h-[50vh] block">
          <CardTimedCarousel />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="Card4" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(4)!}>
        <div class="svelte w-full h-[50vh] block">
          <CardMultiSelect client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="Card5" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(5)!}>
        <div class="ts w-full h-[50vh] block">
          <CardMenuBurger />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="Card6" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(6)!}>
        <div class="react w-full h-[50vh] block">
          <DiagonaleCard client:load />
        </div>
        <div class="svelte w-full h-[50vh] hidden">
          <DiagonalSvelt client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="Card7" class="showcard w-screen hidden">
      <ShowCardLibrary props={lib.get(7)!}>
        <div class="svelte w-full h-[50vh] block">
          <FormEnblerSvelte client:load />
        </div>
        <div class="react w-full h-[50vh] hidden">
          <FormEnablerCard client:load />
        </div>
      </ShowCardLibrary>
    </div>
  </div>

  <script>
    import { currentSelect, currentVisible } from "@assets/ts/nano";
    import { makeVisible } from "@assets/ts/misc";

    const showcard = document.querySelectorAll(".showcard");

    const callbackVis: MutationCallback = (mut) => {
      for (let elem of mut) {
        if (elem.target.classList.contains("block"))
          currentVisible.set({
            id: Number(elem.target.id.replace("Card", "")),
            cardSection: document.getElementById(elem.target.id),
          });
      }
    };

    const mutObser = new MutationObserver(callbackVis);
    for (let elem of showcard) {
      mutObser.observe(elem, { attributes: true, attributeFilter: ["class"] });
    }

    currentSelect.subscribe((val) => {
      for (let elem of showcard) {
        makeVisible(
          val == Number(elem.id.replace("Card", "")),
          document.getElementById(elem.id),
        );
      }
    });
  </script>
</Layout>
