---
import Layout from "../../layouts/Layout.astro";
import ShowCardLibrary from "../../layouts/ShowCardLibrary.astro";
// import Svelte
import LibraryPage from "../../components/svelte/Page/LibraryPage.svelte";
import HeaderNav from "../../components/svelte/HeaderNav.svelte";
// import react
import CircleReact from "../../components/react/CardLibrary/CircleReactCard";
// import card
import CircleCard from "../../components/svelte/CardLibrary/CircleCard.svelte";
import UploaderCard from "../../components/svelte/CardLibrary/UploaderCard.svelte";
// import module
import { LinkType, type LibInfo } from "../../components/svelte/type";
// import media
import CarouselGif from "../../../../public/img/CircleCarCut.webm";
const lib = new Map<number, LibInfo>([
  [
    0,
    {
      id: 0,
      titre: "Carousel en cercle",
      logo: ["svelte", "react"],
      description:
        "Le composant gère automatiquement le passage d'une image à l'autre avec un effet de fondu circulaire, en ajustant les dimensions et la position des images.",
      linkBox: [
        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/CarouselCircle",
          },
        ],

        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/CircleCarouselReact",
          },
        ],
      ],
      media: { type: "vidéo", link: CarouselGif },
    },
  ],
  [
    1,
    {
      id: 1,
      titre: "Uploader en Drag and Drop",
      logo: ["svelte", "vuejs"],
      description:
        "Ce composant est un Dropzone personnalisé permettant le téléchargement de fichiers avec plusieurs fonctionnalités avancées.",
      linkBox: [
        [
          {
            type: LinkType.GitHub,
            link: "https://github.com/SalvadorGriaule/FileUploader",
          },
        ],
      ],
      media: { type: "image", link: "" },
    },
  ],
]);
---

<Layout>
  <div class="bg-linear-to-br from-slate-600 to-slate-900 h-full">
    <HeaderNav />
    <LibraryPage client:load lib={lib} />
    <div id="0" class="showcard w-screen hidden">
      <ShowCardLibrary
        client:load
        id={0}
        title={lib.get(0)!.titre}
        description={lib.get(0)!.description}
        fw={lib.get(0)!.logo}
        linkSlice={lib.get(0)!.linkBox}
      >
        <div class="svelte w-full h-full block">
          <CircleCard client:load />
        </div>
        <div class="react w-full h-full hidden">
          <CircleReact client:load />
        </div>
      </ShowCardLibrary>
    </div>
    <div id="1" class="showcard w-screen hidden">
      <ShowCardLibrary
        client:load
        id={1}
        title={lib.get(1)!.titre}
        description={lib.get(1)!.description}
        fw={lib.get(1)!.logo}
        linkSlice={lib.get(1)!.linkBox}
      >
        <UploaderCard client:load />
      </ShowCardLibrary>
    </div>
  </div>

  <script>
    import { currentSelect } from "../../assets/ts/nano";
    import { makeVisible } from "../../assets/ts/misc";

    const showcard = document.querySelectorAll(".showcard");

    currentSelect.subscribe((val) => {
      for (let elem of showcard) {
        makeVisible(val == Number(elem.id), document.getElementById(elem.id));
      }
    });
  </script>
</Layout>
