---
import "../styles/global.css";
import "overlayscrollbars/overlayscrollbars.css";
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:inline>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.os-scrollbar {
		--os-size: 10px;
		--os-handle-bg: #0b1220c0;
		--os-handle-bg-active: #0b1220c0;
		--os-handle-bg-hover: #0b1220c0;
		--os-padding-perpendicular: 2.15px;
		--os-handle-border-radius: 500px;
	}
</style>
